In [13]:
import polars as pl
from enum import Enum

In [14]:
class Fields(Enum):
    Amount = "Entrate"

In [25]:
df = pl.read_excel("/home/luigi/Downloads/estratti_conto/flowe_2022.xlsx")

In [26]:
df.describe()

shape: (7, 5)
┌────────────┬─────────────┬────────────┬───────────┬───────────┐
│ describe   ┆ DATA VALUTA ┆ DATA OP    ┆ ENTRATE   ┆ USCITE    │
│ ---        ┆ ---         ┆ ---        ┆ ---       ┆ ---       │
│ str        ┆ str         ┆ str        ┆ f64       ┆ f64       │
╞════════════╪═════════════╪════════════╪═══════════╪═══════════╡
│ count      ┆ 96          ┆ 96         ┆ 96.0      ┆ 96.0      │
│ null_count ┆ 0           ┆ 0          ┆ 0.0       ┆ 0.0       │
│ mean       ┆ null        ┆ null       ┆ 10.963958 ┆ 23.146667 │
│ std        ┆ null        ┆ null       ┆ 14.342713 ┆ 58.641089 │
│ min        ┆ 01/02/2022  ┆ 01/02/2022 ┆ 0.0       ┆ 0.0       │
│ max        ┆ 31/03/2022  ┆ 30/06/2022 ┆ 78.0      ┆ 312.0     │
│ median     ┆ null        ┆ null       ┆ 4.75      ┆ 0.0       │
└────────────┴─────────────┴────────────┴───────────┴───────────┘

In [17]:
df.with_columns([pl.col(Fields.Amount.value).fill_null(0)])

shape: (542, 4)
┌────────────┬────────────┬────────┬─────────┐
│ Operazione ┆ Valuta     ┆ Uscite ┆ Entrate │
│ ---        ┆ ---        ┆ ---    ┆ ---     │
│ str        ┆ str        ┆ f64    ┆ f64     │
╞════════════╪════════════╪════════╪═════════╡
│ 31/12/2022 ┆ 31/12/2022 ┆ 0.56   ┆ 0.0     │
│ 31/12/2022 ┆ 31/12/2022 ┆ null   ┆ 2.17    │
│ 30/12/2022 ┆ 28/12/2022 ┆ 50.0   ┆ 0.0     │
│ 29/12/2022 ┆ 27/12/2022 ┆ 19.5   ┆ 0.0     │
│ …          ┆ …          ┆ …      ┆ …       │
│ 04/01/2022 ┆ 04/01/2022 ┆ null   ┆ 0.2     │
│ 04/01/2022 ┆ 04/01/2022 ┆ null   ┆ 0.03    │
│ 04/01/2022 ┆ 04/01/2022 ┆ 100.0  ┆ 0.0     │
│ 04/01/2022 ┆ 04/01/2022 ┆ 50.0   ┆ 0.0     │
└────────────┴────────────┴────────┴─────────┘

In [29]:
df.with_columns([
    pl.col("DATA OP").str.strptime(pl.Date, "%d/%m/%Y")
])

shape: (96, 4)
┌─────────────┬────────────┬─────────┬────────┐
│ DATA VALUTA ┆ DATA OP    ┆ ENTRATE ┆ USCITE │
│ ---         ┆ ---        ┆ ---     ┆ ---    │
│ str         ┆ date       ┆ f64     ┆ f64    │
╞═════════════╪════════════╪═════════╪════════╡
│ 27/12/2022  ┆ 2022-12-22 ┆ 17.0    ┆ 0.0    │
│ 21/12/2022  ┆ 2022-12-21 ┆ 0.0     ┆ 14.0   │
│ 20/12/2022  ┆ 2022-12-20 ┆ 0.0     ┆ 247.82 │
│ 23/12/2022  ┆ 2022-12-20 ┆ 14.0    ┆ 0.0    │
│ …           ┆ …          ┆ …       ┆ …      │
│ 11/01/2022  ┆ 2022-01-08 ┆ 30.0    ┆ 0.0    │
│ 06/01/2022  ┆ 2022-01-06 ┆ 2.0     ┆ 0.0    │
│ 05/01/2022  ┆ 2022-01-03 ┆ 10.9    ┆ 0.0    │
│ 05/01/2022  ┆ 2022-01-03 ┆ 12.86   ┆ 0.0    │
└─────────────┴────────────┴─────────┴────────┘