In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("./Data/DataCristina/Elenco_Movimenti(1).csv", delimiter=';')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Data Registrazione  265 non-null    object
 1   Ora operazione      265 non-null    object
 2   Data valuta         265 non-null    object
 3   Descrizione         265 non-null    object
 4   Importo             265 non-null    object
 5   Unnamed: 5          0 non-null      float64
dtypes: float64(1), object(5)
memory usage: 12.5+ KB

In [4]:
df

,Data Registrazione,Ora operazione,Data valuta,Descrizione,Importo,Unnamed: 5
0,05/10/2021,00:00,06/10/2021,DISPOSIZIONE DI BONIFICO BONIFICO SEPA A MARI...,"-642,33",NaN
1,07/10/2021,00:00,05/10/2021,PAGAMENTO POS PAGAMENTO E-Commerce del 05/10/2...,"-59,48",NaN
2,05/10/2021,00:00,05/10/2021,ADDEBITO SEPA DD PER FATTURA A VOSTRO CARICO I...,"-5,00",NaN
3,06/10/2021,00:00,04/10/2021,PAGAMENTO POS PAGAMENTO Contactless del 04/10/...,"-28,57",NaN
4,04/10/2021,00:00,04/10/2021,BONIFICO A VOSTRO FAVORE BONIFICO SEPA DA SAT...,"11,47",NaN
...,...,...,...,...,...,...
260,09/12/2020,00:00,07/12/2020,PAGAMENTO POS PAGAMENTO Contactless del 07/12/...,"-60,33",NaN
261,02/12/2020,00:00,03/12/2020,DISPOSIZIONE DI BONIFICO BONIFICO SEPA A Mari...,"-742,33",NaN
262,01/12/2020,00:00,01/12/2020,ADDEBITO SEPA DD PER FATTURA A VOSTRO CARICO I...,"-65,97",NaN
263,02/12/2020,00:00,30/11/2020,PAGAMENTO POS PAGAMENTO E-Commerce del 30/11/2...,"-58,00",NaN
264,01/12/2020,00:00,28/11/2020,PAGAMENTO POS PAGAMENTO Contactless del 28/11/...,"-18,63",NaN

In [9]:
df['Importo'].str.replace('.', ',', regex=True).apply(lambda x: float((x[:-3]+x[-3:].replace(',','.')).replace(',','')))

0     -642.33
1      -59.48
2       -5.00
3      -28.57
4       11.47
        ...
260    -60.33
261   -742.33
262    -65.97
263    -58.00
264    -18.63
Name: Importo, Length: 265, dtype: float64